* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.greenspancolor {
    color: #43f07a;
}

header .logo img {
    width: 130px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo .logo-header h1 {
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom: 1px solid #000;
    padding: 5px;
}

header .navbar {
    display: flex;
    gap: 60px;
    letter-spacing: 1px;
}

header .navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* BUTONI KRYESOR */

.box {
    width: 200px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
}

.box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
    border-color: #43f07a;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
    border-color: #43f07a;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}

.ofro-pron {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

/* BUTONI KRYESOR = FINISH */

body {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    color: #000;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 8%;
}

.container .row {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
}

.row section.col {
    display: flex;
    flex-direction: column;
}

.row section.left {
    flex-basis: 35%;
    min-width: 320px;
    margin-right: 60px;
}

.row section.right {
    flex-basis: 60%;
}

section.left .contactTitle h2 {
    position: relative;
    font-size: 28px;
    color: #131212;
    display: inline-block;
    margin-bottom: 25px;
}

section.left .contactTitle h2::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: #000000;
    top: 120%;
    left: 0;
}

section.left .contactTitle h2::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 3px;
    background-color: #43f07a;
    top: calc(120% - 1px);
    left: 0;
}

section.left .contactTitle p {
    font-size: 17px;
    color: #000000;
    letter-spacing: 1px;
    line-height: 1.2;
    padding-bottom: 22px;
}

section.left .contactInfo {
    margin-bottom: 16px;
}

.contactInfo .iconGroup {
    display: flex;
    align-items: center;
    margin: 25px 0px;
}

.iconGroup .icon {
    width: 45px;
    height: 45px;
    border: 2px solid #43f07a;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
}

.iconGroup .icon i {
    font-size: 20px;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.iconGroup .details span {
    display: block;
    color: #000000;
    font-size: 18px;
}

.iconGroup .details span:nth-child(1) {
    text-transform: uppercase;
    color: #000000;
}

section.left .socialMedia {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 22px 0px 20px;
}

.socialMedia a {
    width: 35px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    border-radius: 5px;
    background-color: #43f07a;
    transition: 0.4s;
}

.socialMedia a i {
    color: #0c0b0b;
    font-size: 18px;
    line-height: 35px;
    border: 1px solid transparent;
    transition-delay: 0.1s;
}

.socialMedia a:hover {
    transform: translateY(-5px);
    background-color: #020202;
    color: #43f07a;
    border: 1px solid #000;
}

.socialMedia a:hover i {
    color: #43f07a;
}

textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-track {
    background-color: #1e1e1e;
    border-radius: 15px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: dodgerblue;
    border-radius: 15px;
}

@media(max-width: 1100px) {
    .messageForm .halfWidth {
        flex-basis: 100%;
    }
}

@media(max-width: 900px) {
    .container .row {
        flex-wrap: wrap;
    }

    .row section.left,
    .row section.right {
        flex-basis: 100%;
        margin: 0px;
    }
}