@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GLOBAL CSS */

.greenspancolor {
  color: #43f07a;
}

.textcentered {
  text-align: center;
}

.marginTop {
  margin-top: 40px;
}

.dFlex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconSize {
  font-size: 22px;
}

/* END OF GLOBAL CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
}

header .logo img {
  width: 130px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo .logo-header h1 {
  font-size: 20px;
  letter-spacing: 1px;
}

header .navbar {
  display: flex;
  gap: 60px;
  letter-spacing: 1px;
}

header .navbar a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* BUTONI KRYESOR */

.box {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.2px;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: #43f07a;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: #43f07a;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

.ofro-pron {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

/* BUTONI KRYESOR = FINISH */

main {
  background-image: url(./images/346262.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
  height: 60vh;
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

main .main-content .headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 62vh;
  color: #fff;
}

main .main-content .headings h1,
h3 {
  margin-top: 10px;
  letter-spacing: 1px;
}

main .main-content .headings h1 {
  border-bottom: 1px solid #fff;
  padding: 5px;
}

main .main-content .headings h3 {
  font-style: italic;
}

main .main-content .headings .pronat-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.pronat-rowflex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.pronat-1 {
  width: 30%;
  max-width: 60%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-inline: auto;
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.05);
}

.pronat-1 .image-prona1 img {
  width: 500px;
  padding: 10px;
  margin-left: 27px;
}

.pronat-1 .prona-content h1 {
  border-bottom: 1px solid black;
  padding: 10px;
}

.pronat-1 .prona-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
  gap: 15px;
}

.pronat-1 .prona-content .dhomat {
  display: flex;
  align-items: center;
  gap: 50px;
}

.pronat-1:not(button) {
  cursor: default;
}

.box1 {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  cursor: pointer;
}

.box1:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box1:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box1:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box1:hover:before {
  border-color: #43f07a;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box1:hover:after {
  border-color: #43f07a;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

.agjentat {
  height: 70vh;
  border-top: 1px solid black;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}

.profile-img img {
  width: 300px;
  display: block;
  border-radius: 8px;
}

.card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.05);
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.profile-socials {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.profile-socials i {
  padding: 5px;
  border-radius: 8px;
  transition: 0.2s ease-in;
}

.ikona:hover {
  background-color: #000;
  color: #fff;
}

footer {
  height: 25vh;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

footer .footer-navbar {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer .footer-navbar a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  border-bottom: 1px solid #fff;
  padding: 5px 0;
}

footer .logo img {
  border-radius: 10px;
}

.footy:hover {
  background-color: #fff;
  color: #000;
  transition: 0.2s ease-in;
}

.small-footer {
  height: 50px;
  background-color: #000;
  border-top: 1px solid #fff;
}

.small-footer h1 {
  font-size: 18px;
  text-align: center;
  color: #fff;
  padding: 10px;
}